@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Montserrat';
    
}


body{
        
        height: 100vh;
        width: 100vw;
        background-color:hsl(240, 78%, 98%);
        background-image: url('./images/bg-top.svg'), url('./images/bg-bottom.svg');
        background-position: top right, bottom left;
        background-repeat: no-repeat, no-repeat;
        background-size: 36% 80%,28% 38%;
}


#heading{
    text-align: center;
    font-size: xx-large;
    color: #686a7d;
    font-weight: 700;
    padding-top: 100px;
    
}

.toggle-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin: 20px 0px ;
}

.toggle-nav p{
    color: #686a7d;
    font-family: 'Montserrat';
    font-weight: 601;
    font-size: medium;

}

.switch{
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    background-color: #7983ff;
    border-radius: 2rem;
    transition: all 0.3s linear;
}

.switch::after{
    content: "";
    position: absolute;
    top:.1rem;
    left: .1rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s linear;

}

input{
    display: none;
}


input[type="checkbox"]:checked + .switch::after{
    translate: 2rem 0;

}

input[type="checkbox"]:checked + .switch{
    background-color: #7983ff;
}

.price_section
{
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 60px;
  flex-wrap: wrap;
  height: 450px;
}

/* .price_section{
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    flex-wrap: wrap;
    height: 390px;
} */

.price_section p{
font-size: 15px;
  font-weight: bolder;
  color: #686a7d;
  line-height: 55px;

}

.price_section .professional p{
    color: #fff;
}


hr{
    width: 80%;
    margin: auto;
    color: #686a7d;
    background-color: #fff;
    
}

hr{
    border:1px solid #686a7d;
}

.professional hr{
    border: 1px solid white;
}



.price_section .basic{
    background-color: #fff;
    width: 18%;
    height: 430px;
    margin-top: 15px;
    /* line-height: 60px; */
    border-radius: 10px;
    box-shadow: -4px 5px 12px #686a7d;

    
}


.price_section .professional{
    background:linear-gradient(to right,hsl(236,72%,79%),hsl(237,63%,64%));
    color: #fff;
    width: 18%;
    height: 460px;
    border-radius: 10px;
    z-index: 10;
    flex-grow: 30px;
    box-shadow: 4px 10px 12px #686a7d
}

.price_section .master{
    background-color: #fff;
    width: 18%;
   
    border-radius: 10px;
    height: 430px;
    margin-top: 15px;
    box-shadow: 10px 5px 12px #686a7d
}


h4{
  font-size: large;
  color: #686a7d;
  margin-top: 20px;
  margin-bottom: 18px;

}

.professional h4
{
  color: #fff;
  margin-top: 30px;

}

.professional h4{
    color: #fff;
}

.price{
    margin-bottom: 25px;
    font-size: 3.5rem;
    font-weight: bold;
}

span{
    font-size: xx-large;
}

.btn{
    border-radius: 5px;
    line-height:30px;
    background:linear-gradient(to right,hsl(236,72%,79%),hsl(237,63%,64%));
    color: #fff;
    border: none;
    width: 80%;
    font-size:1rem;
    font-weight:700;
    cursor: pointer;
    margin-top: 34px;
    padding: 8px;
    
}

.btn:hover{
    border: 2px solid hsl(237,63%,64%);
    background:#fff;
    color:hsl(237,63%,64%);
   
}

.master .btn{
    margin-top: 25px;
}

.basic .btn{
    margin-top: 25px;
}

 .professional .btn{
    background: #fff;
    color: #7983ff;
}

.professional .btn:hover{
    border: 2px solid #fff;
    background:transparent;
    color:#fff;
}








/* ------------------------------------- */

@media screen and (max-width:1450px){
    .price_section .basic{
        width: 22%;
    }

    .price_section .professional{
        width: 22%;
    }

    .price_section .master{
        width: 22%;
    }
}


@media screen and (max-width:1100px){
    .price{
        margin-bottom: 20px;
        font-size: 2.5rem;
        font-weight: bold;
    }

    
   .price_section .basic{
        margin-top: 10px;
        width: 25%;
    }

    .price_section .professional{
        width: 25%;
        margin-top: 10px;
    }

    .price_section .master{
        width: 25%;
        margin-top: 10px;
    }

}
@media screen and (max-width:800px){
    .price_section{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    flex-wrap: wrap;
    height: 1400px;    
    
    }


    .price_section .basic{
        width: 40%;
    }

    .price_section .professional{
        width: 40%;
    }

    .price_section .master{
        width: 40%;
    }



}


@media screen and (max-width:580px){

    span{
        font-size: x-large;
    }
    

    .price{
        margin-bottom: 20px;
        font-size: 2rem;
        font-weight: bold;
    }

    .price_section .basic{
        width: 55%;
    }

    .price_section .professional{
        width: 55%;
    }

    .price_section .master{
        width: 55%;
    }
    
}


@media  screen and (max-width:410px) {
    .price_section .basic{
        width: 80%;
    }

    .price_section .professional{
        width: 80%;
    }

    .price_section .master{
        width: 80%;
    }
}





